@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
	--outfit: 'Outfit', sans-serif;

	--soft-blue: hsl(215, 51%, 70%);
	--cyan: hsl(178, 100%, 50%);
	--main-bg-very-dark-blue: hsl(217, 54%, 11%);
	--card-bg-very-dark-blue: hsl(216, 50%, 16%);
	--line-very-dark-blue: hsl(215, 32%, 27%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--outfit);
}

body {
	background-color: var(--main-bg-very-dark-blue);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

h1 {
	font-size: 1.5rem;
	color: white;
	font-weight: 600;
}
p {
	font-size: 1.125rem;
	line-height: 1.5;
	color: var(--soft-blue);
	font-weight: 300;
}

main {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: hsla(217, 50%, 10%, 0.25);
	width: 25vw;
	min-width: 430px;
	max-width: 431px;
	min-height: 595px;
	padding: 15px 0 75px 0;
	border-radius: 20px;
	z-index: 1;
}

#inner-container {
	display: flex;
	flex-direction: column;
	background-color: var(--card-bg-very-dark-blue);
	width: 19vw;
	min-width: 345px;
	min-height: 500px;
	height: auto;
	padding: 24px;
	border-radius: 20px;
	box-shadow: 0 30px 0 17px hsl(219, 54%, 10%);
	z-index: 0;
}

#img-container {
	position: relative;
	width: 100%;
	height: 50%;
}
#nft-img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
#overlay-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	background-color: hsla(178, 100%, 50%, 0.5);
}
#overlay-icon {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
}
#overlay-container:hover,
#overlay {
	opacity: 1;
}

#details {
	padding-bottom: 20px;
	border-bottom: solid 1.5px var(--line-very-dark-blue);
}

#text-container {
	padding: 20px 0;
}
#text-container > h1 {
	padding-bottom: 20px;
}
#text-container > h1:hover,
#name:hover {
	color: var(--cyan);
}

#price-timeleft {
	height: 25px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#price {
	color: var(--cyan);
	font-weight: 400;
}
#icon-eth {
	width: 18px;
	height: 18px;
	padding-right: 7px;
}
#icon-clock {
	width: 26px;
	height: 18px;
	padding-right: 7px;
}
.align {
	vertical-align: middle;
}

#creator {
	display: flex;
	flex-direction: row;
	padding: 15px 0 10px 0;
}
#creator > p {
	padding-left: 15px;
}
#avatar {
	width: 30px;
	height: 30px;
	border: 1px solid white;
	border-radius: 50%;
}
#name {
	color: white;
}
.attribution {
	margin-top: 15px;
	color: var(--dark-blue);
	font-size: 11px;
	text-align: center;
	padding-bottom: 20px;
}

.attribution a {
	color: var(--grayish-blue);
}
